.daily_card {
  background-color: var(--color-card-bg);
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 10px;
  padding: 40px 0 40px 20px;
  border-radius: var(--border-radius);
  height: min-content;
}
.daily_text {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
}
/* samlet faq */
.faq {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  gap: 10px;
}
/* detaljecontainer for spørgsmålene */
details {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-radius: var(--border-radius);
}
/* animeret overgang fold ind/ud */
::details-content {
  height: 0;
  overflow: clip;
  transition: 0.3s allow-discrete;
}

[open]::details-content {
  height: auto;
}
/* indholdstekst i fold ud tilstand */
.content {
  padding: 1rem;
  background-color: light-dark(#b2c2ed, #8a9ed4);

  p {
    margin: 0;
  }
}

summary {
  cursor: pointer;
  padding: 1rem;
  background-color: light-dark(#b2c2ed, #8a9ed4);
}

.daily_text h2 {
  background-color: var(--color-headline-bg);
  color: var(--color-text-inverted);
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 1rem;
  margin: 0 0 0.5rem 0;
}
.faq h2 {
  background-color: var(--color-headline-bg);
  color: var(--color-text-inverted);
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 1rem;
  margin: 0 0 0.5rem 0;
}

.faq p {
  padding-right: 2rem;
  margin: 0 0 1rem 0;
}
.daily_text p {
  padding-right: 2rem;
  margin: 0 0 1rem 0;
}

.daily_text .cta_btn {
  justify-self: left;
  width: 80%;
  background-color: light-dark(#de252a, #810c10);
  border: 2px solid light-dark(#222, #dfe4ed);
}

.daily_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* str for teaser billeder på forside + tilføj også breaking billeder */
article.daily_card img {
  width: 200px;
  height: auto;
  justify-self: center;
}

.news_card {
  background-color: var(--color-news-bg);
  display: grid;
  grid-template-rows: repeat(min-content);
  gap: 0.4rem;
  padding: 1rem 0;
  height: min-content;
  /* height: minmax(300px, min-content); */
}
.news_card:nth-child(2n) {
  background-color: var(--color-news-bg-inverted);
}
.news_card > * {
  padding: 0 1rem;
}
.news_card h3 {
  margin: 0.5rem 0 0 0;
}
.news_card p {
  margin: 0 0 1rem 0;
}
.news_card:first-child:before {
  content: "BREAKING NEWS";
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  font-size: var(--font-h3-size);
  font-weight: var(--font-weight-medium);
  text-align: center;
  line-height: 1rem;
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 0;
}
.news_card:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.news_card:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
/* tilføj hover */
.cta_btn {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: var(--color-cta-card-bg);
  color: var(--color-text-inverted);
  text-decoration: none;
  width: max-content;
  border-radius: var(--border-radius);
}

.news_card .cta_btn {
  background-color: var(--color-cta-newscard-bg);
  justify-self: center;
}
.news_card:nth-of-type(2n) .cta_btn {
  background-color: var(--color-cta-newscard-bg-inverted);
  color: var(--color-text);
}
/* mangler LÆS MERE CTA KNAP HOVEr */
.cta_btn:hover {
  background-color: light-dark(#8a9ed4, #222);
  /* background-color: var(--color-cta-card-bg); */
  border: 2px solid light-dark(#de252a, #810c10);
  /* border-radius: var(--border-radius-links); */
}

.cta_btn:after {
  content: "\2192";
  margin-left: 1rem;
}

#news_popover_et,
#news_popover_to,
#news_popover_tre {
  padding: 1.2rem;
  max-height: 90vh;
  max-width: 70ch;
  width: 90vw;
  place-self: center;
  background-color: light-dark(#dfe4ed, #222);

  button {
    position: sticky;
    top: 0;
    justify-self: end;
  }

  &:popover-open {
    display: grid;
  }

  &::backdrop {
    background: #0008;
  }
}
