:root {
  /* Colours */
  --color-bg: #dfe4ed; /* page background /*

  /* Header */
  --color-head-bg: #de252a;

  /* Logotype */
  --color-logotype-bg: black;
  --color-text-logotype: #dfe4ed;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: black;
  /* Links */
  --color-link-bg: #dfe4ed;
  --color-link-hover: #b2c2ed; /* used */
  --color-link-active: #8a9ed4; /* used */
  --border-radius-links: 2px;

  /* Headlines og rubrik */
  --font-h1-size: 2rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 2rem;
  --font-h3-size: 1.6rem;
  --color-headline-bg: #b2c2ed;
  --color-headline-text-page: #810c10;

  /* Tekst   */
  --color-text: black;
  --color-text-inverted: black;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 2px;

  /* Cards */
  --color-card-bg: #8a9ed4;
  --color-cta-card-bg: #de252a;
  /* news-cards */
  --color-news-bg: #de252a;
  --color-news-bg-inverted: #810c10;
  --color-cta-newscard-bg: #dfe4ed;
  --color-cta-newscard-bg-inverted: #dfe4ed;

  /* Fonts */
  --font-family-sans: saira condensed;
  font-weight: 600;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #b2c2ed;
  --color-infobox-1-bg: #cfcec6;
  --color-infobox-2-bg: #969995;
}
