:root {
  /* Colours */
  --color-bg: light-dark(#dfe4ed, #222); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#de252a, #810c10);

  /* Logotype */
  --color-logotype-bg: black;
  --color-text-logotype: #dfe4ed;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: black;
  /* Links */
  --color-link-bg: #dfe4ed;
  --color-link-hover: light-dark(#b2c2ed, #8a9ed4); /* used */
  --color-link-active: #8a9ed4; /* used */
  --border-radius-links: 2px;

  /* Headlines og rubrik */
  --font-h1-size: 2rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 2rem;
  --font-h3-size: 1.6rem;
  --color-headline-bg: light-dark(#de252a, #810c10);
  --color-headline-text-page: #dfe4ed;

  /* Tekst   */
  --color-text: black;
  --color-text-inverted: light-dark(black, #dfe4ed);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 2px;

  /* Cards */
  /* en god grå til dark-mode just in case: #858080 */
  --color-card-bg: light-dark(#8a9ed4, #414d70);
  --color-cta-card-bg: light-dark(#de252a, #810c10);
  /* news-cards */
  --color-news-bg: light-dark(#dfe4ed, #414d70);
  --color-news-bg-inverted: light-dark(#dfe4ed, #414d70);
  --color-cta-newscard-bg: light-dark(#de252a, #810c10);
  --color-cta-newscard-bg-inverted: light-dark(#de252a, #810c10);

  /* Fonts */
  --font-family-sans: saira condensed;
  font-weight: 600;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#b2c2ed, #414d70);
  --color-infobox-1-bg: light-dark(#8a9ed4, #b2c2ed);
  --color-infobox-2-bg: light-dark(#8a9ed4, #8a9ed4);

  /* indsæt custom mundhule grå farve */

  /* demokratiske citering  */
  blockquote {
    font-style: italic;
    padding: 6px;
    padding-top: 12px;
  }
}
