@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.woff2") format("woff2"),
    url("/fonts/Rubik-Regular.woff") format("woff");
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.woff2") format("woff2");
  font-weight: var(--font-weight-bold);
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.woff2") format("woff2");
  font-weight: var(--font-weight-light);
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.woff2") format("woff2");
  font-weight: var(--font-weight-medium);
  font-style: normal;
}
/* 
.saira-condensed-thin {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.saira-condensed-extralight {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.saira-condensed-light {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.saira-condensed-regular {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.saira-condensed-medium {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.saira-condensed-semibold {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.saira-condensed-bold {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.saira-condensed-extrabold {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.saira-condensed-black {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
} */
