#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}

#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

/* CSS Starter er tilføjet */
/* Generelle styles */
input {
  border: 1px solid #ccc;
  padding: 0.25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
}

/* button {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 6px;
  padding: 0.25rlh 0.5rlh;
  cursor: pointer;
} */

.error-message {
  color: darkred;
}

/* Form layout */
form {
  background-color: #dfe4ed;
  padding: 30px;
  border: 2px solid #8a9ed454;
  border-radius: 6px;
  /* display: grid;
  gap: 1rlh;
  padding: 1rlh; */
  .form-group {
    display: grid;
    gap: 10px;
    padding-bottom: 30px;
  }

  label:has(input) {
    display: flex;
    align-items: center;
    gap: 0.25rlh;
    justify-self: start;
  }
}

/* Pseudo-classes */
:focus-visible {
  /* virker til både knapper og input-felter, select, textarea, links mm. */
  outline: 2px solid #8a9ed4;
  outline-offset: 1px;
  background-color: #b2c2ed;
}
/* Hover-styles */
button:hover {
  background: #b2c2ed;
}

/* Active-styles (imens man klikker) */
button:active {
  scale: 0.98;
  background: #8a9ed4;
}

/* Valideringsregler */
/* Skjul fejlmeddelelsen som standard */
.error-message {
  display: none;
}
.form-group:has(:required) {
  label::after {
    content: " *";
    color: #de252a;
  }
}
/* Tilføj rød kant omkring input-feltet, hvis det er ugyldigt */
.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }
  /* Vis fejlmeddelelsen, hvis feltet er ugyldigt */
  .error-message {
    display: block;
  }
}

/* Demo layout */
/* body {
  padding: 2rlh;
  display: grid;
  gap: 2rlh;
  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
} */

section {
  display: grid;
  gap: 1rlh;
  align-content: start;
}

/* form aria label omdøbes fra EK signup group til bestillingsformular - omdøb alle felter i html og evt. hcss */

.output div {
  background: #b2c2ed;
  padding: 1rlh;
  border-radius: 6px;
  /* border #8a9ed4 */
  display: grid;
  gap: 0.5rlh;
}
