#head-txt {
  fill: rgb(54, 54, 54);
}
.info-graphic,
.info-text {
  background-color: var(--color-info-bg);
  padding: 20px 0;
}
.info-graphic {
  border-radius: 2px;
  margin: 60px auto 80px auto;
}
/* svg_infografik størrelse og placering */
#Layer_2 {
  width: 60%;
  height: auto;
  justify-self: center;
}

.info-text h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  margin-bottom: 1rem;
}
.info-text h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.info-text > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
.info-text p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}
.info-box {
  padding: 1.5rem 1rem 0.5rem 1rem;
  background-color: var(--color-infobox-1-bg);
}
.info-box:nth-of-type(2n) {
  background-color: var(--color-infobox-2-bg);
}

/* start infographic knapper */
.knapper {
  display: flex;
  /* float: left; */
  gap: 20px;
  padding: 20px;
}

.knapper button:last-child {
  display: flex;
  /* kan jo ikke bruges fordi justify-content: flex-end definere for forælder .knapper og ikke barnet "Reset" */
  margin-left: auto;
  background-color: var(--color-knapper-last-child);
}

/* opdater knapper når jeg har klassificeret svg */
#energi,
#sendetsmil,
#demokratiskesayings,
#resetknap {
  padding: 10px;
  /* gør det der med at koble disse på øvrige CTA-knapper fra layoutcss og custom.css */
}
/* slut infographic knapper */

/* forstør et element - eks. øjet (for at den ikke hele tiden ser forstørret ud, laver vi en class, der hedder "myScale" vi kan tilføje til den til det respektive ID
den her er ændret til #frederiksberg{
  evt. farve - fill: pink; !important; ellers overskrive pink af .st3 reglen. alternativt add style.fill = "pink";
  }*/
.my_scale {
  transform: scale(1.3);
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.selected #taender path {
  fill: blue;
}

/* Classes */

.rotate {
  animation: rotate 1s linear infinite;
}
.wiggle {
  animation: wiggle 0.1s linear infinite;
}
.hide {
  visibility: hidden;
}
/* 
  .fadeIn {
  animation: fadeIn 0.5s ease-in;
}
.fadeOut {
  animation: fadeOut 0.5s ease-out forwards;
} */

/* Keyframe animations */

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}
/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */
